---
import Layout from "../layouts/Layout.astro";
---
<Layout color="text-aux" activeClass="is-inactive" title="Auxiliar Manipuladora Sobre nosotros">
    <div>
        auxasdfadf
        auxasdfadfadsfadf

    </div>
</Layout>
