---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Book/Title.astro';
import ListOfBooks from '../components/Book/ListOfBooks.astro';
import ReloadButton from '../components/Book/ReloadButton.jsx';
---


<Layout title="Catalogo de productos">
	<main class="m-auto w-[80%] mt-[4rem]">
		<Title />
		
		<!-- ESTA FUNCION ES FUNDAMENTAL PARA RECARGAR LA PAGINA -->
		<ReloadButton client:load />
		

		<ListOfBooks />
		
	</main>
</Layout>
