---
import TarjetasMario from "../components/TarjetasMario.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout>
    <main class="border-8 w-full flex">
        <div class="flex flex-wrap gap-8 m-auto justify-center items-center">
            <TarjetasMario telefono="657 842 909" jefes="diseño" />
            <TarjetasMario telefono="686 944 933" jefes="ventas" />
            <TarjetasMario telefono="686 944 932" jefes="administracion" />
            <TarjetasMario telefono="657 803 024" jefes="logistica" />
        </div>
    </main>

</Layout>