---
import Camion from "../components/Matrix/Camion.astro";
import TarjetasMario from "../components/TarjetasMario.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout>
    <div  class="flex flex-col">
        <main id="contactooo" class="border-8 w-full h-screen flex">
            <div class="flex flex-wrap gap-8 m-auto justify-center items-center">
                <TarjetasMario telefono="657 842 909" jefes="diseño" />
                <TarjetasMario telefono="686 944 933" jefes="ventas" />
                <TarjetasMario telefono="686 944 932" jefes="administracion" />
                <a id="scroll-to-camion" href="#camion-section">
                    <TarjetasMario telefono="657 803 024" jefes="logistica" />
                </a>
            </div>
        </main>

<!-- EL ID DE CAMION ESTA EN EL COMPONENTE ========================= -->
        <Camion />

    </div>

</Layout>


<script>
    document.getElementById('scroll-to-camion').addEventListener('click', function(e) {
        e.preventDefault(); // Evita el comportamiento predeterminado del enlace

        console.log('click');
        const camionSection = document.getElementById('camion-section');
        if (camionSection) { // Verifica que el elemento se ha encontrado
            camionSection.scrollIntoView({ behavior: 'smooth' }); // Desplazamiento suave hacia el elemento
        }
    });
</script>