---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Auxiliar Manipuladora del Cartón">
    

<div class="w-[15rem] absolute top-4 left-4 z-50">

    <img src="/svg/logo-aux.svg" alt="logotipo de la auxiliar">

</div>
</Layout>

