---
import ListOfBooks from "../components/Book/ListOfBooks.astro";
import EstucheConAsas from "../components/three/EstucheConAsas";
import Model from "../components/three/Model";
import Layout from "../layouts/Layout.astro";

---

<!-- <div class="border-8 h-screen border-red-300 flex justify-center w-full ">
    <Model client:load david="TQ_ARQ_front.001" />
</div> -->
<!-- <div class="border-8 h-screen border-red-300 flex justify-center w-full ">
    <EstucheConAsas client:load />
</div> -->

