<div class="bg-white">
    <div>
        Auxiliar
    </div>
    
      <div class="flex w-full">
        <video autoplay loop muted>
          <source src="/ccc.webm" type="video/webm">
          Tu navegador no admite la reproducción de videos con fondo transparente.
        </video>
        <video autoplay loop muted>
          <source src="/ccc.webm" type="video/webm">
          Tu navegador no admite la reproducción de videos con fondo transparente.
        </video>
        <video autoplay loop muted>
          <source src="/ccc.webm" type="video/webm">
          Tu navegador no admite la reproducción de videos con fondo transparente.
        </video>
    
      </div>
    </template>
</div>

<style>

  video {
    width: 100%;
    height: auto;
  }
</style>