---
import Modal from '../Footer/Modal.astro'
export interface Props {
  david?: string
}
const {david} = Astro.props
---

<Modal />
<main class=`${david} text-center py-2 text-sm absolute bottom-0 w-full` >
    <footer class= "m-auto w-auto cursor-pointer hover:brightness-75 hover:border-sky-400 hover:border-2">
        Aviso legal --- <a class="text-sky-600 hover:underline" href='#'> Marca registrada @</a>
    </footer>
</main>
