---
export interface Props{
    modalBg?:string;
    modalText?:string;
}
const { modalBg, modalText} = Astro.props;
---


<div class={`${modalBg} ${modalText} absolute top-[3rem] z-50 w-1/2 h-auto left-0 right-0 m-auto bg-opacity-10 p-[2rem] rounded-[1rem] backdrop-blur-2xl border-red-900`}>
    <slot/>
    <p class="mt-6">
        esto es una ventana modal
        esto es una ventana modal
        esto es una ventana modal
        esto es una ventana modal
        esto es una ventana modal
        esto es una ventana modal
        esto es una ventana modal
        esto es una ventana modal
        esto es una ventana modal
        esto es una ventana modal
        esto es una ventana modal
        esto es una ventana modal
        esto es una ventana modal
        esto es una ventana modal
        esto es una ventana modal
        esto es una ventana modal
        esto es una ventana modal
        esto es una ventana modal
        esto es una ventana modal
        esto es una ventana modal
        esto es una ventana modal
        esto es una ventana modal
        esto es una ventana modal
        esto es una ventana modal
        esto es una ventana modal
        esto es una ventana modal
        esto es una ventana modal
        esto es una ventana modal
        esto es una ventana modal
        esto es una ventana modal
        <br>
        <br>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab culpa quam dignissimos suscipit nihil ducimus totam error quasi aliquam ipsam impedit commodi laborum, amet tenetur optio soluta alias? Deleniti, distinctio!
        <br>
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, odit. Nobis sapiente eius voluptates doloribus dolorem perferendis, quaerat perspiciatis cumque nihil dicta corporis enim reprehenderit necessitatibus nisi debitis molestias qui!
    </p>
</div>