<div class="absolute top-1/2 z-50 w-auto m-[11rem] h-auto border-red-900 text-white bg-slate-100 bg-opacity-10 p-[2rem] rounded backdrop-blur-2xl">
    esto es una ventana modal
    esto es una ventana modal
    esto es una ventana modal
    esto es una ventana modal
    esto es una ventana modal
</div>