<div class="flex flex-col justify-center items-center border-8">
  <h1
    class="font-black uppercase text-6xl md:text-8xl text-center py-8 px-4 flex"
    style="view-transition-name: book-title"
  >
    Catálogo
  </h1>
  <p class="text-[3rem]">Auxiliar Manipuladora</p>
</div>