<!-- //LOGO Y ENLACE -->
<div class='z-30 h-screen w-screen border-red-500 border-8 relative'>

    <main class="w-2/3 h-auto square grid grid-cols  md:grid-cols-2 lg:grid-cols-4 gap-6 border-sky-500 border-8 relative top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 [&>div]:cursor-pointer">
        
        <div class="rounded-md flex-grow-1 square bg-white bg-opacity-20 backdrop-blur-md p-4 flex justify-center items-center">
            Cat치logo
        </div>
        <div class="rounded-md flex-grow-1 square bg-white bg-opacity-20 backdrop-blur-md p-4 flex justify-center items-center">
            Cat치logo
        </div>
        <div class="rounded-md flex-grow-1 square bg-white bg-opacity-20 backdrop-blur-md p-4 flex justify-center items-center">
            Cat치logo
        </div>
        <div class="rounded-md flex-grow-1 square bg-white bg-opacity-20 backdrop-blur-md p-4 flex justify-center items-center">
            Cat치logo

        </div>
    </main>
</div>

<!-- //VIDEO -->
    <div class='z-10 absolute top-0 bottom-0 h-full'>
        <video
            id='miVideo'
            class='h-full brightness-50'
            muted
            autoplay
            loop
            src='/videos/cajas-en-movimiento.mp4'
        ></video>
    </div>
</section>
