    <div class='w-full min-h-screen  overflow-hidden relative flex flex-col justify-center items-center'>

        <div class='absolute z-30 bottom-0 m-auto animate-fade animate-delay-500 animate-ease-in'>
            <footer class='flex flex-col flex-grow flex-nowrap justify-end pb-8'>
                <a
                    href='/bookTransition'
                    class='bg-white bg-opacity-20 border-2 border-white py-2 px-8 rounded-lg text-current hover:bg-white hover:text-black transitio-colors duration-300 backdrop-blur-xl'
                >
                    Elige tu caja
                </a>
            </footer>
        </div>


        <video
            id='miVideo'
            class='h-screen brightness-50'
            muted
            autoplay
            loop
            src='/videos/cajas-en-movimiento.mp4'
        ></video>

        
    </div>

