    <div class='w-full  overflow-hidden'>
        
        <video
            id='miVideo'
            class='h-screen brightness-50'
            muted
            autoplay
            loop
            src='/videos/cajas-en-movimiento.mp4'
        ></video>

        
    </div>

