<section
    class='body-section w-screen h-screen overflow-hidden flex flex-col items-center'
    data-header-color="white"
    data-bg="black"
    data-opacity=.5
>

<!-- BOTON DE ELIGE TU CAJA ============================================= --> 
    <!-- <div class='z-30 relative h-full flex flex-col items-center'>

        <footer class='flex flex-col flex-grow flex-nowrap justify-end pb-24'>
            <a
                href='/bookTransition'
                class='bg-white bg-opacity-20 border-2 border-white py-2 px-8 rounded-lg text-current hover:bg-white hover:text-black transitio-colors duration-300 backdrop-blur-xl'
            >
                Elige tu caja
            </a>
        </footer>
    </div> -->

<!-- FOTO DE LA NAVE ============================================= -->
    <div>
        <img class="object-cover object-center" src="./imagenes/nave.jpg" alt="">
    </div>


</section>


